//Font Stuff

/* jetbrains-mono-regular - latin */
@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/jetbrains-mono-v11-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/jetbrains-mono-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/jetbrains-mono-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/jetbrains-mono-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/jetbrains-mono-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/jetbrains-mono-v11-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
  }
  
  /* jetbrains-mono-500 - latin */
  @font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/jetbrains-mono-v11-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/jetbrains-mono-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/jetbrains-mono-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/jetbrains-mono-v11-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/jetbrains-mono-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/jetbrains-mono-v11-latin-500.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
  }



*{
    margin: 0;
    padding: 0;
    border: none;
}

// colors
$w: #fff794; 
$red: #ab392b;
$red_t: #ab392b00;
$b: #003615;

// aktiv colors
$w: rgb(214, 208, 200); //
$b: rgb(36, 36, 36); //


a{
	color: $b;
	text-decoration: underline $red  2px;
}

a:hover{
	transition: color 0.5s, text-decoration 0.5s;
	color: $red;
	text-decoration: underline $red_t  2px;
}



html{
    height: 100%;
}
body {
	font-family: 'JetBrains Mono', monospace;
	min-height: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    font-size: 10vw;
    text-align: center;
    background: $w;
    color:$b;
}

#details {
	font-size: 0.2em;
	opacity: 0.10;
}

  #info {
	font-size: 12px;
	margin-bottom: 24px;
	align-self: revert-layer;
  }
  